	body{
		background-color: lightblue;
	}


	li{
		border-bottom: 1px dashed black;
		font-style: italic;

	}

	td{
		font-weight: bold; 
		color: green;
	}
	
	

	h1{
		font-family: 'Lekton', sans-serif;
	}
	h2{
		font-family: 'Lekton', sans-serif;
	}
	h3{
		font-family: 'Lekton', sans-serif;
	}

	tbody tr:nth-child(even){
		background-color: eerie black;
	}