#head{
	font-family: 'Freckle Face', cursive;
	font-style: italic;
	background-color: forestgreen;
}

#foot{
		
	font-weight: bold;
	text-align: center;
	background-color: forestgreen;		
	width: 50%;
        height: 145px;
        
        bottom: 0;
        margin-left: 25%;
	margin-right: 25%;      
}

th{
	font-size: large;
}


a:link{
	color: black;
}

a:visited{
	color: white;
}

a:hover{
	font-weight: bold;
	font-size: medium;
}

